<!-- <div class="container"> -->

  <div class="form-to-simulate-daily-rate">

    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item nav-bar">
        <a class="nav-link active step pills-color" id="pills-first-tab" data-toggle="pill" href="#pills-first" role="tab" aria-controls="pills-first" aria-selected="true">Votre activité</a>
      </li>

      <li class="nav-item nav-bar">
        <a class="nav-link step pills-color" id="pills-second-tab" data-toggle="pill" href="#pills-second" role="tab" aria-controls="pills-second" aria-selected="false">Réglementation</a>
      </li>


      <li class="nav-item nav-bar">
        <a class="nav-link step pills-color" id="pills-third-tab" data-toggle="pill" href="#pills-third" role="tab" aria-controls="pills-third" aria-selected="false">Age</a>
      </li>

      <li class="nav-item nav-bar">
        <a class="nav-link step pills-color" id="pills-fourth-tab" data-toggle="pill" href="#pills-fourth" role="tab" aria-controls="pills-fourth" aria-selected="false">Accre</a>
      </li>

    </ul>

    <%= simple_form_for(@simulation) do |f| %>
      <div class="tab-content" id="pills-tabContent">

        <!-- PAGE ...-->
          <div class="tab-pane fade show active" id="pills-first" role="tabpanel" aria-labelledby="pills-first-tab">
            <h3 class="mb-4"> Quelle est votre catégorie d'activité ? </h3>

                <%#= f.input :activity, as: :check_boxes, collection: Simulation::ACTIVITIES, label: false, prompt: "Quelle est votre catégorie d'activité ?", :class => 'mt-4' %>
                 <%#= f.input :activity, label: false, collection: Simulation::ACTIVITIES, as: :check_boxes, :class => "check_boxes"  %>
                <%# Simulation::ACTIVITIES.each do |activity| %>
                  <%#= f.input :activity  %>
                <%# end %>

            <div class="form-group simul">
              <label class="control-label check_boxes optional"></label>
              <input type="hidden" name="simulation[activity_ids][]" value="">
              <div id="activity-choice" class="simulation-choix">
              <div class="category-choices">
                <% Simulation::ACTIVITIES.each_with_index do |activity, index| %>
                  <input type="radio" class="hidden" value="<%= activity %>" name="simulation[activity_ids][]" id="simulation_activity_ids_<%= activity %>">
                  <label for="simulation_activity_ids_<%= activity %>" class="category-choice">
                    <%= activity %>
                  </label>
                <% end %>
               </div>
              </div>
            </div>

            <div class="tab-buttons text-right" id="first-tab">
              <button class="button next-btn mt-2" href="#">Suivant</button>
            </div>
          </div>

          <!-- PAGE ...-->
          <div class="tab-pane fade" id="pills-second" role="tabpanel" aria-labelledby="pills-second-tab">
            <h3 class="mb-4"> Est-ce une activité libérale réglementée ?</h3>
              <%#= f.input :reglementary, as: :select, label: false, prompt: "Est-ce une activité libérale règlementée ?", :class => 'mt-4' %>
              <%#= f.input :reglementary, :class => 'check_boxes', label: false, as: :check_boxes %>

            <div class="form-group simul">

              <label class="control-label check_boxes optional"></label>
              <input type="hidden" name="simulation[reglementary_ids][]" value="">
              <div id="reglementary-choice" class="simulation-choix">
                <div class="category-choices">
                  <input type="radio" class="hidden" value="true" name="simulation[reglementary_ids][]" id="simulation_reglementary_ids_true">
                  <label for="simulation_reglementary_ids_true" class="category-choice">
                   Oui
                  </label>
                  <input type="radio" class="hidden" value="false" name="simulation[reglementary_ids][]" id="simulation_reglementary_ids_false">
                  <label for="simulation_reglementary_ids_false" class="category-choice">
                    Non
                  </label>
                </div>
              </div>
            </div>

            <div class="tab-buttons">
              <button class="button-white-background-and-yellow-text previous-btn mt-2" href="#">Précédent</button>
              <button class="button next-btn mt-2" href="#">Suivant</button>
            </div>
          </div>

          <!-- PAGE ...-->
          <div class="tab-pane fade" id="pills-third" role="tabpanel" aria-labelledby="pills-third-tab">
            <h3 class="mb-4"> Quel est l'âge de votre entreprise ?</h3>

                <%#= f.input :year_existence, as: :select, label: false, prompt: "Quel est l'âge à votre entreprise ?", :class => 'check_boxes', collection: Simulation::YEAREXISTENCE %>
            <div class="form-group simul">
              <label class="control-label check_boxes optional"></label>
              <input type="hidden" name="simulation[year_ids][]" value="">
              <div id="year-choice" class="simulation-choix">
                <div class="category-choices year-choices">
                  <% Simulation::YEAREXISTENCE.each_with_index do |year, index| %>
                    <input type="radio" class="hidden" value="<%= index %>" name="simulation[year_ids][]" id="simulation_year_ids_<%= index %>">
                    <label for="simulation_year_ids_<%= index %>" class="category-choice year">
                      <%= year %>
                    </label>
                  <% end %>
                </div>
              </div>
            </div>

            <div class="tab-buttons">
              <button class="button-white-background-and-yellow-text previous-btn mt-2" href="#">Précédent</button>
              <button class="button next-btn mt-2" href="#">Suivant</button>
            </div>
          </div>

          <!-- PAGE ...-->
          <div class="tab-pane fade " id="pills-fourth" role="tabpanel" aria-labelledby="pills-fourth-tab">
            <h3 class="mb-4"> Avez-vous obtenu l'ACCRE lors de votre création d'entreprise ?</h3>

                  <%#= f.input :accre, as: :select, :label => "Avez-vous obtenu l'ACCRE lors de votre création d'entreprise ?"%>
                  <%#= f.input :accre, label: false, as: :check_boxes, :class => 'check_boxes' %>

            <div class="form-group simul">
              <label class="control-label check_boxes optional"></label>
              <input type="hidden" name="simulation[accre_ids][]" value="">
              <div id="accre-choice" class="simulation-choix">
                <div class="category-choices">
                  <input type="radio" class="hidden" value="true" name="simulation[accre_ids][]" id="simulation_accre_ids_true">
                    <label for="simulation_accre_ids_true" class="category-choice">
                     Oui
                    </label>

                  <input type="radio" class="hidden" value="false" name="simulation[accre_ids][]" id="simulation_accre_ids_false">
                    <label for="simulation_accre_ids_false" class="category-choice">
                      Non
                    </label>
                </div>
              </div>
            </div>

            <div class="tab-buttons">
              <button class="button-white-background-and-yellow-text previous-btn" href="#">Précédent</button>
              <%= f.submit "Créer", class: "button" %>
            </div>
          </div>

      </div>
    <% end %>

  </div>



<!-- different steps of the simulation -->
<!-- <div class="step-progress-bar inline">
</div> -->

<!-- <div class="row">
  <div class="col-5"> -->
    <%#= simple_form_for @simulation do |f| %>

        <%#= f.input :activity,
        label:"Quelle est votre catégorie d'activité ?",
        collection: Simulation::ACTIVITIES,
        as: :select %>

        <%#= f.input :reglementary,
        label:"Est-ce une activité libérale règlementée ?",
        as: :select %>

        <%#= f.input :year_existence,
        label:"Quel est l'âge de l'entreprise en année d'activité ?",
        collection: Simulation::YEAREXISTENCE,
        # include_blank: true,
        as: :select %>

        <%#= f.input :accre,
        label:"Avez-vous obtenu l'ACCRE lors de votre création d'entreprise ?",
        as: :select %>

      <%#= f.submit "valider", class: "btn btn-primary" %>
    <%# end %>
<!--  </div>
</div> -->


