<p>Hello</p>

<p>activity: <%= @simulation.activity %></p>
<p>year: <%= @simulation.year_existence %></p>
<p>accre: <%= @simulation.accre %></p>
<p>sauvegarde: <%= @simulation.save %></p>
<p>sauvegarde: <%= @simulation.errors.messages %></p>
<h1><%= @simulation.result %></h1>
