<%= simple_form_for :search, url: new_invoice_path, method: :get do |f| %>
        <div class="client p-2">
          <%= f.input :client, label:"Sélectionnez un client", collection: @my_clients, label_method: :company_name, value_method: :id, include_blank: true, as: :select %>
          <% if @client_found.present? %>
            <%= @client_found.company_name %> <br/>
            <%= @client_found.last_name %> <br/>
            <%= @client_found.company_address %>
          <% end %>
        </div>
      </div>
    <% end %>

    <%= simple_form_for @invoice do |f| %>
      <% if params[:search] %>
        <%= hidden_field_tag :client, @client_found.id %>
      <% end %>


      <%#= f.input :creation_date, as: :string, required: false, label: "Date de facturation",input_html: {class: "datepicker d-inline-flex p-3"} %>

      <div class="datepickere d-inline-flex p-2">
      <%= f.input :creation_date, label: "Date de facturation" %>
    </div>


    <div class="titre p-2">
      <%= f.input :title, label: "Titre" %>
    </div>
<% end %>
