
<div class="invoices_index_title">
  <h1><i class="far fa-file-alt"></i>  Mes factures :</h1>
</div>

<div class="color-line"></div>

<div class="invoices-array">

  <div class="array-header d-flex">

    <div class="array-header-column">
      <h4>Titre</h4>
    </div>

    <div class="array-header-column">
      <h4>Client</h4>
    </div>

    <div class="array-header-column">
      <h4>Date de création</h4>
    </div>

    <div class="array-header-column">
      <h4>Référence</h4>
    </div>

    <div class="array-header-column">
      <h4>Statut</h4>
    </div>

    <div class="array-header-column">
      <h4>Montant TTC</h4>
    </div>

    <div class="array-header-column invoice-actions">
      <h4></h4>
    </div>

  </div>



  <% @invoices.each do |invoice| %>

  <div class="invoices-card d-flex">

    <div class="invoice-infos invoice-ref">
     <%= invoice.title %>
    </div>

    <div class="invoice-infos">
      <p>eFashion Paris</p>
    </div>

    <div class="invoice-infos">
      <%= invoice.creation_date %>
    </div>

    <div class="invoice-infos">
      <div class="statut">
        <%= invoice.reference %>
      </div>
    </div>

    <div class="invoice-infos">
      <%= invoice.status %>
    </div>

    <div class="invoice-infos infos-price">
      <p><%= invoice.total_amount_ttc %> €</p>
    </div>

    <div class="invoice-infos invoice-actions dropdown">

      <i class="fas fa-ellipsis-h" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <button class="dropdown-item" type="button"><i class="fas fa-edit"></i>Editer</button>
        <button class="dropdown-item" type="button"><i class="fas fa-download"></i>Télécharger</button>
        <button class="dropdown-item" type="button"><i class="fas fa-print"></i>Imprimer</button>
      </div>
    </div>

  </div>

  <% end %>

</div>




