
<div class="invoices_index_title">
  <h1><i class="far fa-file-alt"></i>  Mes factures :</h1>
</div>


<div class="invoices-array">

  <div class="array-header d-flex">

    <div class="array-header-column">
      <h4>Référence</h4>
    </div>

    <div class="array-header-column">
      <h4>Libellé</h4>
    </div>

    <div class="array-header-column">
      <h4>Date de création</h4>
    </div>

    <div class="array-header-column">
      <h4>Montant TTC</h4>
    </div>

    <div class="array-header-column">
      <h4>Statut</h4>
    </div>

    <div class="array-header-column">
      <h4>Client</h4>
    </div>

    <div class="array-header-column invoice-actions">
      <h4></h4>
    </div>

  </div>



  <% @invoices.each do |invoice| %>

  <div class="invoices-card d-flex">

    <div class="invoice-infos invoice-ref">
      <%= invoice.reference %>
    </div>

    <div class="invoice-infos">
      <%= invoice.title %>
    </div>

    <div class="invoice-infos">
      <%= invoice.creation_date %>
    </div>

    <div class="invoice-infos">
      <p><%= invoice.total_amount_ttc %> €</p>
    </div>

    <div class="invoice-infos">
      <div class="statut">
        <div class="status-point"></div> <%= invoice.status %>
      </div>
    </div>

    <div class="invoice-infos">
      <p>test</p>
    </div>

    <div class="invoice-infos invoice-actions dropdown">

      <i class="fas fa-chevron-circle-down" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <button class="dropdown-item" type="button">Editer</button>
        <button class="dropdown-item" type="button">Télécharger</button>
        <button class="dropdown-item" type="button">Imprimer</button>
      </div>
    </div>

  </div>

  <% end %>

</div>




