
<div class="container">

  <!-- <div class="invoices_index_title">
    <h1><i class="far fa-file-alt"></i>  Mes factures :</h1>
  </div> -->


  <div class="search-invoice">
  <%= form_tag invoices_path, method: :get, class: "form-inline" do %>
    <label for="inp" class="inp">
      <%= text_field_tag :query, params[:query], id: 'inp', placeholder: "  " %>
      <span class="label"><i class="fas fa-search"></i>Trouver une facture</span>
    </label>
  <%#= submit_tag "Rechercher", class: "button submit-index-search" %>
  <% end %>
</div>

  <!-- <div class="color-line"></div> -->

  <div class="invoices-array">

    <div class="array-header d-flex">

      <div class="array-header-column">
        <h4>Titre</h4>
      </div>
      <div class="array-header-column">
        <h4>Client</h4>
      </div>
      <div class="array-header-column">
        <h4>Date de création</h4>
      </div>
      <div class="array-header-column">
        <h4>Référence</h4>
      </div>
      <div class="array-header-column">
        <h4>Statut</h4>
      </div>
      <div class="array-header-column">
        <h4>Montant TTC</h4>
      </div>
      <div class="array-header-column invoice-actions">
      </div>

    </div>

    <% @invoices.each do |invoice| %>

    <div class="invoices-card d-flex" id="invoice-div-<%= invoice.id %>">

      <div class="invoice-infos infos-titre">
       <%= invoice.title %>
      </div>

      <div class="invoice-infos">
        <%= invoice.client.company_name  %>
      </div>

      <div class="invoice-infos">
        <%= invoice.creation_date %>
      </div>

      <div class="invoice-infos">
        <div class="statut">
          <%= invoice.reference %>
        </div>
      </div>

      <div class="invoice-infos infos-status">
        <p class="<%= invoice.status.to_s %> mb-0">
          <i class="fas fa-circle"></i> <%= invoice.status %>
        </p>
      </div>

      <div class="invoice-infos">
        <p class="mb-0">
          <%=  number_with_delimiter(invoice.total_amount_ht, delimiter: " ") %> €
        </p>
      </div>


      <div class="invoice-infos invoice-actions dropdown">

      <i class="fas fa-ellipsis-h" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">

      <!-- Show -->
      <%= link_to invoice_path(invoice.id), method: :get, class: 'dropdown-item' do %>
          <i class="fas fa-search-plus"></i>Aperçu
      <% end %>



      <!-- Send -->
      <%= link_to send_to_client_invoice_path(invoice.id), method: :post, class: 'dropdown-item' do %>
        <i class="far fa-paper-plane"></i>Envoyer
      <% end %>

        <!-- Edit -->
        <%# if invoice.status == "draft" %>
          <%#= link_to edit_invoice_path(invoice.id), class: 'dropdown-item' do %>
            <!-- <i class="fas fa-edit"></i>Editer -->
          <%# end %>
        <%# end %>



        <!-- Download -->
        <!-- <button class="dropdown-item" type="button"><i class="fas fa-download"></i>Télécharger</button> -->



        <!-- Print -->
        <!-- <button class="dropdown-item" type="button"><i class="fas fa-print"></i>Imprimer</button> -->



        <!-- Delete -->
        <% if invoice.status == "draft" %>
          <%= link_to invoice_path(invoice.id), method: :delete, remote: true, data: { confirm: "Êtes vous sûr de vouloir supprimer : #{invoice.title} - #{invoice.reference}?" }, class: 'dropdown-item' do %>
              <i class="far fa-trash-alt"></i>Supprimer
            <% end %>
          <% end %>

        </div>

      </div>

    </div>

    <% end %>

  </div>
  <div class="invoices-index-buttons">
    <%= link_to "Nouvelle facture", new_invoice_path, class: "button mr-3" %>
    <%= link_to "Retour", root_path, class: "button" %>
  </div>
</div>
