   <div class="container mt-3">

<div class="invoice-box">
        <table cellpadding="0" cellspacing="0">
          <tr class="top">
            <td colspan="4">
              <table>
                <tr>
                  <td class="title">
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAPIAAABECAYAAAC7%2B2jMAAAcLUlEQVR4Xu3dCbglR1UH8NNvEjCggIoiLggCJpktIIqsSpCZLAq4ICqLgBvugICoqEQRQRRZRRZxRxEFQREyM2LcgLggZFY2BcEVjYqgMZnMa7%2Ffmz5Dpaa7b9%2BZzPDy6Pq%2B983c293VVafO%2F%2BxVt4m5zRSYKXCDp0Bzg5%2FBPIGZAjMFYgbyzAQzBTYABWYgb4BFnKcwU2AG8swDMwU2AAVmIG%2BARZynMFNgBvLMAzMFNgAFZiBvgEWcpzBTYAbyzAMzBTYABWYgb4BFnKcwU2AG8swDMwU2AAVmIG%2BARZynMFNgBvLMAzMFNgAFZiBvgEWcpzBTYAbyzAMzBU4zBbYf2nX%2F1TYu2tSuvPSKLTvedn28fgby9UHFuY%2BZAhMpcN6BS7e0sfLitol7RsTlzcqRR%2B4956J3Tnx88LYTAbJnzoiIle5P5233dyQirp04qE0R4U8%2FOY6p%2FXjGGOrm3asj7z%2BzeFd52zXFh5zfGG3Kcfr%2FlHaj6qZFY036eMyc0LbvXcZpXtncc7ibJxqVtNXHMvTRz9j8alqNzamm%2FaL5983LM2PjSb6s16Nc3%2Fra0HrXNK%2FHM7bmxthL6%2B0H99ytjfaFEXHntQ7a9hlX3ejI099zx4v%2FewoTDd2zLJAtxhdExCMi4vyIuF1E3DgiPhwRpMquiPiliHhfN5G%2B93rnp0XEAyPiqyPiThHx6R3D%2FWdEHIyI34%2BIX4%2BIf%2B3pB4OTZk%2BLiI90LwDs%2F42Il0TEG0YI8jMRsaW6bsEeFBFXdd%2FfIiJ%2BOCLOGxBK7jfOvRHx%2Boh4T0T834JFQKNfjYibd%2FdZtJd19Bp6FG0eGhGfEhF%2FGRHPjIgre27%2B5Ih4ZTdWtP23iPjuiCA4ntTRF1N9MCJ%2BPiLePDJWY%2FqsDixoqp93j9z%2FORHxhIjY3vX%2F4oj4o4H7nxsR53SCBB9dEhFvGgHm1oh4Qbcu7t%2FffUbvofYTEXGXnvV9WLdmfc%2FdJiK%2Bt6MTwaV9QkTs7vgpaX5uRPxoRKD3IuH27xHx0xFxxXEvbC9Z2Xro7i9oovmOvNY07QP2nrPzddE0U5XCcd0uA%2BSbRAQgHBvAADX%2FJyIeFxEvHbh%2B34h4Xg%2Bg6tsJBwvwukqLkLoPjoiX9%2FT%2F4xHxlJGFfn9EYL663awTRr6%2FVUS8NiK%2BeAE48zLhgYE%2BMHL%2F53bCLW%2BhWZ4fEd838swTI%2BLHIuKs7h7jAei63Toi%2Fqn48l86piTkPP%2F44toPRcTTB975hZ1gITg09P%2FUTrsPDXNztw6EsfZzHfj77ucL5n2uW8PfGQCFNf7GTthlX%2F%2FY9f2aEZq9MSLwV90onT8eeO4eEfGqiPiM6vpvd%2BvzD9337qNgkj4jw1gTpg%2BJiD%2Fsu2nbO3edE0dWXhLR3ru7%2Fq7Y1D5w39kXvGOs07FrywD5Vzrilv0BLWlPYibDJRN8e0T8RvXye0UEqY0BspGCNBppRHP5K9uXRsSfFl%2FQyDToK3om9gsR8Z0DzEei0hb1ghk%2FKYtxNdbBqzut7zMNbHzGSUsZX20mW3RSHYjqhsaYth6vRd4xsjgASCh9UncPjfzUwgrJR2sgY7wv6sZyUWc15L2sAoKY9VI3IPd30%2B7CL0bEtyzQPmj6a4UW%2FJuO%2Fn%2FR0%2F9fRQRhke1rOwD1aSFWEeH4XcX9hB%2Fh9pwRmrEI71e4fG7Vv%2BeeNfDcV3QArS%2F%2FVicECRANkPEFQZ%2F94pl6%2FPjTM99W8e11%2Bt92aM9Dol19VkRzlB%2Fb5iWbrjnjSW%2B%2F8%2Fn%2FNTK%2FwUtTgczMY3YhsIYRaIc9EeHFzLEHRARzKBuzAgg%2F1H3xiRHxsxHxrcU9JqwP91ooptcFEXGH4h4mu37T9x4DMlPX4jPt6wb8hEgtURcB2fhJbGYgwN8%2BIu7aWRRMsGzf3DF1mmf5PRo%2FOyIeUw1oX0TcJyL%2BY2B1aiDTulyKem5jQCYwMWSuCzARdH%2Fd804gIFiSJy6OiEuXBLJuWWN9YFsGyPiJ4CP4y8aSq%2BlYXh8CMuvt4QN0pnC4HHVbBGR%2Bt7n2xRzgg3WQQqD31dsP7X5u266tx9F4T9M8dN85b3pFNJeMxTF6%2B5oKZCYFyZUNY9ZmIYaiOROEGJSEBx6NycPc%2FrzuMz%2BC%2BVT7tJ6nOUsT%2BP6die3RMSATCAjT5wfyyUhmLkLZFgHZYjy2MwPzOULJ4n9DNx7f00KEGV%2B0bGjsGi1Ztr%2BPiEeOmHw1kD2LGTF4GVAcAzLBw7z%2Bnu7FNAj6iD%2BUTR8ElZiHxiz3XcYgqtuPfaw1sgtMX%2B9LkzRvXgbI%2BqUo0Llsv9dZFKUrUV7vA7Lr%2FOttPZOgmPi9AFm3RUAG1rRehugz%2Bv25By%2B99Rmxwmol0InQD66srt73ii0XHli2wylAvm0nmc8uFvmzC02b72R20kp8xmwkIT9Xw0B8qGx8REGlvmidQNb3d5KK6cKsf1T34BiQ%2BSbew%2FeqG60qwOb5si0CMqYhAGo3QdDvlysGYVHUqQSCQ3CsNsdZMoSLIFBf6wMyQWkOpfk1BmT9fn1E%2FGbxgmdExA9WL7RGhPMtu%2B%2BtG3rX1kU9zj4gE%2BCsLmZo2ZYBMqFPo9Xt7RFBg%2FaZ7u4dAjLQAW09H7ELPPnlPe%2BaAmSxFfxzwk1OuY3mhdEGTEHzazZdfcajljWxpwCZSQp06Vsyt75mwM8S6UXsbH8eERx64OHz%2FEBxjQ8xFhCjqZP5RbIz2twHZGZO%2Bti0Zx84MthCy5CkOfcTBTJz6A8iYmcxJ6Ypa6I0jfiFmFjzPRAy7%2F2fICD8%2BlofkN0n6KW%2F9M0WAZnAwZRpKRmzaHRponObaPtMY1lfmnWRidcHZGPkjxLSZTR%2FKpC5K8Yn6qtd3f0BDSFBUJtPX6uBzAIRY8Af3JLapRBtF9%2F4%2FO6e5CF9nxYge9G2g3ueGtFSFmvxoSbisXs37xwS8L0TnwJk6QWLkqkTEsx3fSkXvk1pUr01IvhaFoN%2F%2FE3FKGiKoQXBIICXgS8LYiG1PiALMgEoZsUAtHnZmOmilsx6DCWHl3noEwWy%2FkW3mdPZ%2BkxfPl36jDTD73ZpJc%2F8yTGz6vjlGQIyk56wytzoIiBL9dHCSXvRdUEs6RUNHd5SBKKk4VhhtYvQx0BDQGYael8ZZZ8KZO6APCv%2B0KSb8NRR8%2FPo2ibI6zHVQKa5CT6aWOykVhxf0vGF6%2F%2FcgT5jKKcNyNuv2HXT9syGBZNK4aommvvu3bzj8l7U9nw5BcjSFZgxo9KYgkkInHWrmYomxei0EK3Op8xG0zN3%2BxpGOtTl81wnNAAZwfuAzAdiAiMEH5LPU0aQBdBoP1aFxQS4DFSdDJCNXyAwG%2Bblf5YmnPF8XXcDLSgSzVXQBLxEb%2Fsqe4aALPgmiJV%2B4iIgew%2FrJ2MVPvNh5Wg1zCyazczUaGKpk8yrDyzR2tdDQK7f4fNUIJexFsJKAJNQMQeNIEObvvHVQKZ0ANgav6gnNWZdrA9B8bdd7UAGdE8bkE2qKxTxTnlt7fJNV5950VQTewqQLTgiptn1kxEhX9sHZMGJMnCgoIPpAjS0kjRMtmWAbNFoFumuPiDTtiQ3TSPQxfwqk%2FE0GOHDqsDEhFEGKk4GyHLcpX9lfjRuGYzK3LX3cBcEn9LUxkCEZO1PolENZMIhK7UeHRFSbUzfKUCuwUqYKRbhu%2F9Ip%2BUysMRfxlBTKvRqIKe%2FaI3QhoksqLcMkPVJAWhMaWa6%2FvCcBqzWsK9QpQYyXsSv%2BI%2FVwbzOZv0FbPXLHVTg81VFuu%2B0AvkomHc%2Fpj1aq5HW4jP3bd5pnRa2KUBm5gheZOcCUfKZfUAeeiFH3oKcDJDld5nPfUAmLGg3i8J0NF6Lmg3jqkYjjPixNGma6icKZAwnAFYWOYhMl36YnGNaBrSLRULPdD%2BY2oQKetatBjIBxSVgGbFAVDDpcwqQP7Ojf5qrXB404r6UGQn9CWr2pe%2F61rYGMtCiJxcGfwBGZiWmaGRrK5iXlpr%2BaFR05MdrBLax9xV41ED2rHutkUAoHsrGOuPusRLl9NGXy5hZjdMO5GgvWdl26J6vimi%2FshvkNU3TPmjvuRdYo9F2IkAe08gfKyAzm0V0FTFoQMtczHZZ52MxRzGKhUuffxGQ%2ByqKMLDUGqsiTXRMR%2BKXuUNuBT9aY1VgKsFCAMr0mogyU3YRkGUDBGXkVgnVLJSZAmR9EwwEiWbOmMU4AC1TM8bG3Jxa91sDmRXkTyWV%2BRHehKv%2BpgAZiFgIGRTlaxunbEAys7Fb377KvhrINDfhx%2BWhBAT%2BUpOLpwCr75jX6hkI2YzLTAHySaWf%2BsCydd8bb99sOmIsmQp817Wxep9Dmy%2Fkww%2B2jQJkoLUY6rxJ77IUUfCC9MasGNU1n6dqZAzgfqaXCKj%2BAErEs6xCE3XkhpRBQPGFZEr9AN%2FfdQyUgQ0BL8xaV%2FTUGpmQkgUQzTQOjEbDTgWyOEHWUmMI2gfAAC0zEkx2QnFsk0HJTDWQ%2Bfoq0AhLQoxw83%2FgngJk%2FqnU4Zd1LxGsIhz9AW6XookndyZzzdh9QHaP%2BAzrB6AzwCrDIphEEEu9WWOWQFqei4DM9bAWZWTfO8QiRkE3BkjXth7Y8%2BCmafHzUXw2zcv3nbsj07i9j28UIAswWQxai8npXwDiAyqtc52EoyEwquKHqUBGuEz1DNGLac8PrwsVgJR%2FqglSETLMe%2B6Jkk6N1pGCqnOjNZDNwTuMnflLYKgyM7byvWWJZrnoglkqozLKzhJQSy1ni3n1owIs%2FdNF%2FOZ6DWRCSv6Z1cBdUFsg74u5RbDLopi%2BEk1xEEGnLEuVKlOIRGgKVt29G5Q1FL1mLpetD8jKRtGMcBLtloHRCDaCnaUkr%2B694htTgVzyxRrcIkKREyFE6J9U23pw1wuLjRVXRxuP2bdlZxmwvE7%2FGwXIpDXgkry0m9RK7twhhfmhmIRJJujBj10GyEOLwv9FXNpSUKtsaEvL5ntoKyYiLQ64WRwjIIiRWBNlq4FsjuYiWCZIk7ubRMDLCP0QkPUt4JebSjAdfzvNQxqJq9C3w2po%2FkNA5h8Dm%2FlyY2hl%2BfVyI0oNZPRiBvPfNcE9Atk61jEWwCQgxArGgExYstasA83JjSAYrAHrg0blCukLPWnhZYBc04WwUL57%2FK6nJWF9l3dedstrjhzmLqKx9v72SHPh%2Fm07ZHOOaxsFyBaA6SF4wS8CGkwvgMHU8x0TirYWCUXoqUCWw%2BazYDAMQHNhDNrH33u7aHpNXFqED0orYSLlhYI%2FWlm5pD%2Baoo5O9gFZNJ5AIvH5k0xXWmqKRvZeqTJ%2BYBb%2Bl2NmahMui7Zkls%2F0ARlAgNfWSmDVBJsEHMc0MkvFmtG8GhoTWrIdBA4Nnzu5hnYX1RoZkLk76MRnt16sGLlqwl02RpCUiyKlx0qZCmSCpt5JJqtCsBLOJ93OO7DnXqtN%2B2dFR3v2bd5ZFiAdu7RRgIxpBGmYWz%2FVSXPaBXiyaIMJxSQFLECYCmTajk9GwwBPbhpfxPCYRM7T%2B%2FhTxpVmHaahTZL%2BOf5y8fuATCBxF5QvCih5nnbPiK7nxzTyHTsg2yFUtzriPoUR%2B4BM2AAUTQp8%2FF5%2BuIBeuRmm1sjASsioP8952KkljaVxK7hP2eqApu%2BHgCw3zqUgAAhYjfDn9tB6F3bXuS9TgYyfxBZKHxlv%2BH5RRdwU2q7ds%2F3gnie30aqK1BSKPG3v5h1cs%2Bu0jQJkPqrUFq1MojMXAQn4mIz8ZBrVtj5gXAbIQ7XWixaDqYzZ0JjJJc2R%2BWLpIGBkemqCWO6lMbKNAdk89Y%2FpWBcCN9nGgOweVku9SYC7gX71RodFcxwDshSUgA0BYV4sifR99VsDWR5b8ClLce3NtV6ZCiOYAS0DjJgZg5cCtQ%2FI3C2a3eYIcQr9vKvjB7XlQM5SImho06lAFtgy5hM%2BDGARcV2%2F%2BwfefNZHPvwR8YXcwXZo3%2Bad5TbgtW6ubyADSW4XS%2BcfcU34ZAtCFuWRMSKTlc9K8tMC3g3YItZ8JVpCgGcZ0%2FpEgcy8F93WaGSpnwQq005QKIEsN2psZe57DMjMUOPCiKQ%2FrT8VyHac0Wzldk5MDuBMw2XaGJD1Yy3Kbaslv9VALnPunlUPwOUAVPTjP%2BOtrLwivNGoPNBhCMhcChFp4DNX9zGpywMenMZC8C8D5JPeNLGI2Ocd2HPn1aalhNCubdvYvX%2FLThbEddoUINeVXWMFIUwNhEUgBFExQxNJc5CMJ1MQMlbZlRoZYzFnpXlIbwRQOaXkkw9KmNCGpxrImE0QpdwyKQBUSm%2FBlQQg%2BjDfs2zSIo0B2XX3MmPrNVykkesIsL7qwxsW8VdeXwRk5qxx9p3KUgIZHZj7pSAjoDINhm6KRcpzv7gmrBhR6WxDQLb%2BYhn8WoBmVotQi5fIWzPp1x2Q73PZZWdceavDrMcMeF3ZHmnu3RfwmgLkMliEYD6TalNqrUk9ZsvJ1lrzO4DDwg5VdhESijxynzDfRz5PJRftk3uaLeqpBrLUBv%2B83ro4BhARVH5gtkVABkiCclkgC%2FaIBpdH4pyIf2yci4AMoIpxMgVXzr8EMqEvcp9lmFMECWWhPDY3f3hmCMj8b%2FXaLEPWjyyDwiYWUgbn1h2Qtx3Y%2Ffxo1iw17Zq2bZ6wf8sOCvG4NgXICCy1k8EhNb6igX1F6%2FXZVDSicD%2BTRg5XLXS2ZXY%2FKaZI%2F2oMyPpmwgKBSCVJTht4hnlNip8OIJPyhF2aacxg78690KqTCJfy6Bv%2Bs6htnqiyCMjmir4qk8q2SCOfTiAbV13LnWMtgUzg0ZB2ymk0pwosc0GztGS4TNYvW70VdgjI%2FGoxCYUleFE2wf8JQoqGH76ugLz10O6dTbu2TXYtxz9kUichpgBZEAAIs%2FpHYEYQoj49gvQleUngbO5ltnnPqdyPnKa199JqwFweIEDy0sz%2BPR1AtgD8GDTBhMz6eusdjSq1kAJSQQjtkDnIKUB2f6ZrkubrDcgCM0Ca8YI%2BIEsNckXSb%2Fd%2FfFee1ZZrW0auWTECWSL52hCQmeTuzYMjrQmeLLeRrhsg3%2BHdr7%2FZWdeeceDYYQNNfPBGK2dueevZ58v997YpQO5bCJq3LoDIAoXSPCoBVp8QgrCKE1IDlQNUuMBnzIqj8sylRRqZpE9fOPuUwhB0kUo6HUBm0qfg4%2BtJFdVMaRwOrstzqeqdUFOAzFRkMpYHH643IFsDQM6NAH1ApmnL3UyiynfrOcLWgQdy3ZkHZ1YDZwYRh4CMZ6Tp6sqo8gSbdQPkbYd2vzLateg6fF7bts1D92%2FZIUU52KYA2cMS%2FFn%2F6jNiMrlpZdKN5lF9owDD4QIavxhQlQVqfDJmeRaD951ZZTw0FJMnTShAIJ2zRnYRkFUP0VLlrqSyeP9UA1muWl1xugL8enOqYwq0DysltYR50ty5sWEKkNG1Pt10PQLZ%2BhHceZSQcadp7f9ARKhly5NlasblighMZWEJl0XsIwNeQ0DGVyquyo36eDdPJs0xLBu1tsbXW87YILYf2vWItm3EMI7GVybUWa%2FdNoby4hptphKmTFkApWodGkGOS%2FCgPOCMiYjImR7wLPOyPCVEnbG0BxOTXySHyFTi9%2BXYAF5OMgm2CMgEinGVIfryhMtTDWTpHYIktSQ6lEIlycraMK7SNC7PhZ4KZBq9rP5Zj0BGizIXWgLZOotsp0CTbqI5y8Bf0kwKUjCzPMzBOme0ewjInpd2LE1T1pl3pIJYViOLEQn29QFZDESp6zJbfeNOh95w2yPtyluOHZEb8d7mcLtt73kXLEwLTgUyQthGJko45RnmMmCTeGVTXmYh8iTNRXKk3rHi%2FkVA7tNSZXrlVAOZxhDUy4MYzJdb0dfqQ%2Ba4AO4l%2FKYCWb%2FM0qyaWo9ANkYCG1hz22dqZPzEgsmgHUtOyrDchlrSLoOZ%2BZ3iFjQGmjEg056ESZm7l%2BnIH1FbFshjvEvbM43LdNo4r7dts%2FXgnjc0zdopN2tFRG3TXLD%2F3B1DB%2Btfp78poMwHRH9pYVVS9TGlZafqTNnzubunngCNJZIJzGUhQ32ffmioetM9TYZI5cmQIr78p2zl9kGM4QDALLD3XmmxMsc79ksTyvpsUqiPkB1amDqS3FdKmM%2BqyFJZlG4ECwWQ%2BdP1L02oknItAzvZhzXE%2BBkEommAYmgrnai1kk7CLdvQr1gsErT1L02wngTg%2BhiYWezYHvUAWv7SBF4q9z%2Bjt%2FO5hnZhKVM11wxmWhdCj2VYu4Dokq6d9WY6Z%2F03HuCH52H9quVK8%2F6U%2FdJEH1G3H9z1xDaa8pdFJp8Oor9lgOx%2BxEAcu1mYKsL6uSmA%2BhcA47PVR8fWY8do%2BlGtYyEz38q8Rli5Pvmyvp%2FcsICKB0hhks8YWAuK%2FrNJbREkxsh%2FUoOdJj4f3iKlMGIGMU%2FTfOECYBQ%2BlWuAwcce%2B02pElSi9t6bkVFm4NDvJxmLoJ74g7wo00%2FBjSAOgQe4yk3Rh7AioPo2%2FduTbHeRPviNfNKhXUwEstQY4Za%2FnoG5l9m%2BmPMlFFleWSIq6GT8Q78vRcDTiOYjP2p9mafmlj88x6KQhhoqfQRy8RkuFN6zk81nzzHJCSXf4xNjSV5kIXER8R068ZfLE0xZm2IWFAWrQYCO9s9DCM1REJWfv%2Bi3nygh6zp0bO918HDe%2FkvvurrSvLYwqS%2F%2F8Flnnv%2B%2B252%2FqJ7%2FWD%2FLArkcgImpkgIkgJKLG%2FuBrT5BpFTRQgIP4tOemH7RxmzvpEXTPxFQyp988R6MAgAWBTGANO%2F1Hu8tmwqfXBzXmWGZA%2Fa956f4O54xrpKuY9sC3Uc4%2BsvxEWT8L35laTWYYwYXh2iZQpVrMxSEweBoU%2F6Co%2FunnNFVv1dfaJXa0TuNceg87HJO1sucgKY8aYPwHPvZFDTOtc3x5PjRvpyXdSvBgC8UDRmn9SxTqHiqtDSNreSbvrUdsljwjPktOhc81lJNh8%2BwsSdPCf3QStucv%2BzvJp8MkBeZXfP1mQIzBRZQYNuBXU%2BPpuHnf%2FRM63N3PG%2FZX2acgTyz2kyBjxEFth3cfXFE%2B7KPmtTNa5rDqw%2BbEqWuhzwD%2BWO0iPNrP74psOXAntusNAKox35adfQEkEXUmoG8iELz9ZkC1zcF2ktWtr%2FjHs8ufomxbSMesf%2FcN7%2F8RH6J0fBmIF%2FfizT3N1NgkV%2Fst5GjfXa03TnbTby4uaZ9%2FImY1Pmq44CsuuTa2FQXuM%2BLM1NgpsBJUqBpV1abpr15rLaPa5tjv3rxttjUPmTf2Rc4EeWE23FA3nZg96OjiSe1Edc2p%2FgYkxMe9fzgTIEbKgWauEm0a%2FsRYO%2Bqpmkevvec%2B7162Sj1wmBX9xOPeUjcDZVc87hnCqxXCshfvzuauEXTNi%2BKw6vPORmTetC09qtwEav3Xm1XTumhYuuVyvO4ZgqcKgo0DVC1V67EyoEjq0euuvrGq%2B99zx0vnvrzPKPDOs60dk7Q%2B257rKrpVM1p7nemwMctBZYpvZxKpDlqPZVS830zBdYxBWYgr%2BPFmYc2U2AqBWYgT6XUfN9MgXVMgRnI63hx5qHNFJhKgRnIUyk13zdTYB1TYAbyOl6ceWgzBaZSYAbyVErN980UWMcUmIG8jhdnHtpMgakUmIE8lVLzfTMF1jEFZiCv48WZhzZTYCoFZiBPpdR830yBdUyB%2FwedObe9paAibQAAAABJRU5ErkJggg%3D%3D" />
                  </td>

                  <td class="infos_factures">
                    Facture #: <b><%= @invoice.id %></b>
                    <br>
                    Créée le : <b><%= @invoice.creation_date %></b>
                    <br>
                    A payer avant le : <b><%= @invoice.creation_date %></b>
                    <br>
                    Statut : <span class="badge badge-primary"><%= @invoice.status %></span>
                  </td>
                </tr>
              </table>
            </td>
          </tr>

          <tr class="information">
            <td colspan="4">
              <table>
                <tr>
                  <td>
                    <b><%= current_user.first_name + " " + current_user.first_name %></b><br>
                    <b><%= current_user.siret %></b><br>
                    <%= current_user.address %><br>
                    <i class="far fa-envelope"></i> <%= current_user.email %><br>
 <!--                    <i class="fas fa-phone"></i> <%= current_user.phone_number %> -->
                  </td>

                  <td class="client pb-3">
                    <b><%= @invoice.client.first_name + " " + @invoice.client.first_name %></b><br>
                    <%= @invoice.client.company_name %><br>
                    <%= @invoice.client.company_address %><br>
                    <i class="far fa-envelope"></i> <%= @invoice.client.email %><br>
<!--                     <i class="fas fa-phone"></i> <%= @invoice.client.company_address %> -->
                  </td>
                </tr>
              </table>
            </td>
          </tr>

          <tr class="heading">
            <td colspan="6 titre">Titre</td>
            <!-- <td class="right"><%= @invoice.title %></td> -->
          </tr>

          <tr class="details">
            <td><%= @invoice.title %></td>
          </tr>

          <tr class="heading">
            <td>Livrables</td>
            <td class="right">TJH</td>
            <td class="right">Qté</td>
            <td>Total HT</td>
          </tr>



            <tr class="item">
             <% @invoice.missions_invoices.each do |missions_invoice| %>
                    <td>
                        <%= missions_invoice.mission.name %><br>
                        <small><%= missions_invoice.mission.description %></small>
                    </td>

                    <td class="right">
                        <%= missions_invoice.price_rate %> €
                    </td>

                    <td class="right">
                        <%= missions_invoice.man_day_quantity %>
                    </td>

                    <td>
                        <%= missions_invoice.man_day_quantity * missions_invoice.price_rate %> €
                    </td>
              <% end %>
            </tr>

          <tr>
            <td colspan="4"></td>
          </tr>

          <tr>
            <td colspan="2"></td>
            <td><b>Sous-total HT</b></td>
            <td><%= @invoice.total_amount_ht %> €</td>
          </tr>

          <tr>
            <td colspan="2"></td>
            <td><b>Remise</b></td>
            <td>- 0.00%</td>
          </tr>

          <tr>
            <td colspan="2"></td>
            <td><b>TVA (20.0%)</b></td>
            <td><%= @invoice.total_amount_ht * 0.20 %></td>
          </tr>

          <tr class="heading">
            <td colspan="2"></td>
            <td><b>TOTAL TTC:</b></td>
            <td>
               <b><%= @invoice.total_amount_ttc %> €</b>
            </td>
          </tr>
        </table>
    </div>
    </div>

<%= link_to "DOWNLOAD PDF", invoice_path(@invoice, format: :pdf), target: "_blank", class: "button button_pdf" %>
<%= link_to "Envoyer", invoice_path(@invoice, format: :pdf), target: "_blank", class: "button button_envoi" %>


<!--

<div class="container  p-5">
  <h1> Ma facture </h1>

  <div class="header-facture-created d-flex justify-content-between">
    <div class="invoice-client">
      <div> <%= @invoice.client.company_name %></div>
      <div>
        <%= @invoice.client.first_name %>
        <%= @invoice.client.last_name %>
      </div>
      <div> <%= @invoice.client.company_address %></div>
    </div>

    <div class="current_freelance">
        <%= current_user.first_name %>
        <%= current_user.last_name %> <br/>
        <%= current_user.address %> <br/>
        <span> Numéro de Siret : <%= current_user.siret %> </span><br/>
    </div>
   </div>

    <div class="creation-date-created d-inline-flex py-5">
      <p> Date de facturation  : <%= @invoice.creation_date %> </p>
    </div>
    <div class="title-invoice-created d-flex py-5">
      <%= @invoice.title %>
    </div>

    <div class="missions lines d-flex justify-content-between align-items-start">
      <div class="description">
        <div class="header-invoice-created"> Description </div>
        <% @invoice.missions_invoices.each do |missions_invoice| %>
        <div>
          <%= missions_invoice.mission.name %>
        </div>
        <% end %>
      </div>
      <div class="quantité-created">
        <div class="header-invoice-created">Quantité </div>
        <% @invoice.missions_invoices.each do |missions_invoice| %>
        <div>
          <%= missions_invoice.man_day_quantity %>
        </div>
        <% end %>
      </div>
      <div class="unit-price-created">
        <div class="header-invoice-created"> Prix unitaire</div>
        <% @invoice.missions_invoices.each do |missions_invoice| %>
        <div>
          <%= missions_invoice.price_rate %>
        </div>
        <% end %>
      </div>
      <div class="tva-created">
        <div class="header-invoice-created"> Taux de TVA</div>
        <% @invoice.missions_invoices.each do |missions_invoice| %>
        <div>
          <%= missions_invoice.vat_rate %>
        </div>
        <% end %>
      </div>
        <div class="total-TTC-created">
          <div class="header-invoice-created"> Montant </div>
          <div> </div>
        </div>
      </div>


    <div class="total-created d-flex flex-column align-items-end py-5">
      <div>Total HT : <%= @invoice.total_amount_ht %> </div>
      <div>Total TTC : <%= @invoice.total_amount_ttc %></div>
    </div> -->


