<!-- <div class="sidebar">
  <%= link_to root_path do %>
    <img class="logo" src="<%= image_path('logo-mae.png') %>"/>
  <% end %>

  <div class="navigation-icons">
    <%= link_to root_path do %>
      <i class="fas fa-project-diagram icons"></i>
    <% end %>

    <%= link_to "" do %>
      <i class="far fa-file-alt icons"></i>
    <% end %>

    <%= link_to "" do %>
      <i class="fas fa-euro-sign icons"></i>
    <% end %>
  </div>
</div> -->
