<div class="sidebar">
  <%= link_to root_path do %>
    <img class="logo" src="<%= image_path('logo-mae.png') %>"/>
  <% end %>

  <div class="navigation-icons">
    <%= link_to root_path do %>
      <div class="icon-and-title">
        <i class="far fa-chart-bar"></i>
        <p>Tableau de bord</p>
      </div>
    <% end %>

    <%= link_to "invoices" do %>
      <div class="icon-and-title">
        <i class="far fa-file-alt icons"></i>
        <p>Factures</p>
      </div>
    <% end %>

    <%= link_to "simulate_my_rate" do %>
      <div class="icon-and-title">
        <i class="fas fa-euro-sign icons"></i>
        <p>Simuler mon TJM</p>
      </div>
    <% end %>
  </div>
</div>
