<div class="sidebar">

  <%= link_to root_path do %>
    <%= image_tag('logo-mae.png', class: 'logo')  %>
  <% end %>

  <div class="navigation-icons">

    <%= link_to root_path do %>
      <div class="icon-and-title">
        <i class="far fa-chart-bar"></i>
        <p>Tableau de bord</p>
      </div>
    <% end %>

    <%= link_to invoices_path do %>
      <div class="icon-and-title">
        <i class="far fa-file-alt icons"></i>
        <p>Factures</p>
      </div>
    <% end %>

    <%= link_to new_simulation_path do %>
      <div class="icon-and-title">
        <i class="fas fa-euro-sign icons"></i>
        <p>Simuler mon %</p>
      </div>
    <% end %>

  </div>

</div>

