<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MAE</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>

    <script src="node_modules/chartjs-chart-radial-gauge/build/Chart.RadialGauge.umd.min.js"></script> -->
    <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= render 'shared/login' %>
    <%= render 'shared/flashes' %>
    <%= render 'shared/notification_bar' %>
    <div class="page-layout">
      <% unless (params[:controller] == 'pages' && params[:action] == 'discover') %>
        <%= render 'shared/sidebar' %>
        <% end %>
      <div class="page-container">
        <%= yield %>
      </div>
    </div>
  <!--   <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"> --><!-- </script> -->

    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <script>
      App['user_notif_<%= current_user.id %>'] = App.cable.subscriptions.create(
        { channel: 'UserNotifChannel', user_id: <%= current_user.id %> },
        {
          received: (data) => {
            console.log('hello')
            var notifBar = document.querySelector(".notification-bar");
            notifBar.insertAdjacentHTML('afterbegin', data['notif_partial']);
            var bell = document.querySelector('.fa-bell');

            bell.classList.add('animated');

            const audio = new Audio("<%= asset_path 'alert2.mp3' %>");
            audio.play();
            // if (window.Notification && Notification.permission === "granted") {
            //       var n = new Notification("Coucou !");
            //     }
            // // Si l'utilisateur n'a pas choisi s'il accepte d'être notifié
            // // Note: à cause de Chrome, nous ne sommes pas certains que la propriété permission soit définie, par conséquent il n'est pas sûr de vérifier la valeur par défaut.
            // else if (window.Notification && Notification.permission !== "denied") {
            //   Notification.requestPermission(function (status) {
            //     if (Notification.permission !== status) {
            //       Notification.permission = status;
            //     }
            //     // Si l'utilisateur est OK
            //     if (status === "granted") {
            //       var n = new Notification("Coucou !");
            //     }
            //     // Sinon, revenons en à un mode d'alerte classique
            //     else {
            //       alert("Hello !");
            //     }
            //   });
            // }
            // // Si l'utilisateur refuse d'être notifié
            // else {
            //   // We can fallback to a regular modal alert
            //   alert("Coucou !");
            // }
          }
        }
      )
    </script>
  </body>
</html>
